@model PagedList.IPagedList<Model.EntityFramework.Menu>
@using PagedList.Mvc
@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string statusDelete = ViewBag.GroupID == "ADMIN" ? "enable" : "disabled";
}

<div class="d-flex">
    <h2 class="mr-auto p-2">CÀI ĐẶT MENU</h2>
    <div class="p-2">@Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success" })</div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Menu</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Tên menu
                        </th>
                        <th>
                            Liên kết
                        </th>
                        <th>
                            Thứ tự hiển thị
                        </th>
                        <th>
                            Target
                        </th>
                        <th>
                            Loại Menu
                        </th>
                        <th>Thao tác</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
            <tr id="row_@item.ID">
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Target)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detail", "Details", new { id = item.ID }) |
                    @Ajax.ActionLink("Delete", "Delete", new { id = item.ID }, new AjaxOptions
               {
                   Confirm = "Bạn có muốn xóa bản ghi này?",
                   OnComplete = "$('#row_" + @item.ID + "').remove()",
                   HttpMethod = "Delete",
               }, new { @class = @statusDelete })
                </td>
            </tr>
                }

            </table>
        </div>
    </div>
</div>

<div class="d-flex flex-row-reverse">

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @keyword = @ViewBag.keyword }))

</div>





